<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <PublishProvider>ContainerApp</PublishProvider>
    <ContainerResourceId>/subscriptions/eafb2841-573f-4971-890c-473944b11339/resourcegroups/DefaultResourceGroup-EUS/providers/Microsoft.ContainerRegistry/registries/RazorPagesMovie20230613200651</ContainerResourceId>
    <ContainerResourceName>RazorPagesMovie20230613200651</ContainerResourceName>
    <Subscription>Azure for Students</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>razorpagesmovie20230613200651.azurecr.io</RegistryUrl>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ContainerName>razorpagesmovie</ContainerName>
    <EnvironmentName>RazorPagesMovie-env-20230613200312</EnvironmentName>
    <SiteUrlToLaunchAfterPublish>https://razorpagesmovie-app.calmocean-07208677.eastus.azurecontainerapps.io</SiteUrlToLaunchAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/eafb2841-573f-4971-890c-473944b11339/resourceGroups/DefaultResourceGroup-EUS/providers/Microsoft.App/containerApps/razorpagesmovie-app</ResourceId>
    <ResourceGroup>DefaultResourceGroup-EUS</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <_TargetId>NetSdkAzureContainerAppLinux</_TargetId>
  </PropertyGroup>
</Project>