<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/d8536058-bc08-4ce1-a406-c730a87ff2c7/resourceGroups/QuickMerkNet/providers/Microsoft.Web/sites/QuickMerkAPI</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://quickmerkapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>4d774700-1d0c-4c67-9438-b7bee2def471</ProjectGuid>
    <PublishUrl>https://quickmerkapi.scm.azurewebsites.net/</PublishUrl>
    <UserName>$QuickMerkAPI</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>