<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/0f7b19e5-ac67-4aea-afad-573c6b332c59/resourcegroups/QuickMerk/providers/Microsoft.Web/sites/QuickMerkAPI20231023180634</ResourceId>
    <ResourceGroup>QuickMerk</ResourceGroup>
    <ApiResourceId>/subscriptions/0f7b19e5-ac67-4aea-afad-573c6b332c59/resourceGroups/QuickMerk/providers/Microsoft.ApiManagement/service/QuickMerkAPIapi/apis/QuickMerkAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://quickmerkapi20231023180634.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>4d774700-1d0c-4c67-9438-b7bee2def471</ProjectGuid>
    <MSDeployServiceURL>quickmerkapi20231023180634.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>QuickMerkAPI20231023180634</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$QuickMerkAPI20231023180634</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>